// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-brand:hover{
  color: #007bff !important;
}

.navbar-laravel {
  //background-color: green !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.comments {
  border: 1px solid #ced6e0;
  border-radius: 0;
  padding: 10px;
}

.reply {
  margin-left: 20px !important;
}

.reply_comment{
  border: 1px solid #ced6e0;
  border-radius: 0;
  padding: 10px;
  margin-top: 10px !important;
}

.post {
  margin-top: 10px;
}

.comment_header {
  background-color: #747d8c;
  color:white;
  padding: 5px;
}

.comment_content {
  margin: 20px;
}

.form_comment {
  padding-top: 20px;
}

.content {
  //margin-top: 50px;
  margin-bottom: 50px;
}

input[type=submit]:hover {

  cursor: pointer;

}

input[type=button]:hover {
  cursor: pointer;
}

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

.note-popover {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}


.dash-menu1 {
  color: #fff;
}

.dash-menu1:hover {
  color:#19B5FE;
  text-decoration: none;
}